@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto&display=swap");

body {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f5f5f5+0,ffffff+50,64b4fa+51,64b4fa+100 */
  background: #f5f5f5; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #f5f5f5 0%, #ffffff 50%, #64b4fa 50%, #64b4fa 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #f5f5f5 0%, #ffffff 50%, #64b4fa 50%, #64b4fa 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #f5f5f5 0%, #ffffff 50%, #64b4fa 50%, #64b4fa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#64b4fa', GradientType=1); /* IE6-9 fallback on horizontal gradient */
  background-attachment: fixed;
}


.avatar img {
  border-radius: 50%;
}

body > div {
  height: 100%;
}

.markdown p {
  white-space: pre-wrap;
  line-height: 2rem;
}

code {
  font-size: 0.98rem;
}

pre code {
  max-width: 100%;
  overflow-y: auto;
  line-height: 1.2rem;
  font-size: 0.95rem;
  display: inline-block;
}

li {
  line-height: 1.9rem;
}


/* Workaround for hljs */


pre code {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #282a36;
  color: #f8f8f2;
  white-space: pre-wrap;
}

blockquote  {
  border-left: 5px solid rgba(5, 117, 230, 0.8);
  padding-left: 10px;
}